<section class="mt-2 ms-3">
  <a href="/dashboard" class="text-decoration-none">back to dashboard</a>
  <h2 class="title">Create New Blog Post</h2>
  <hr>

  <form class="new-post-form">
    <div class=" mb-3">
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert blog title here" />
    </div>
    <div class="">
      <label for="post-content">Content:</label>
      <input class="textarea" id="post-content" name="post-content" placeholder="insert blog content here" />
    </div>
    <button type="submit" class="btn btn-success mt-3">create post</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>