<div class="dashboard">

    <div class="">


        <div class="">

            <h2 class="mt-3">Dashboard: Your posts</h2>
            <a href="/dashboard/create/">
                <button id="create-post" class="btn btn-success mt-1">create post</button></a>

        </div>

        <div class="dashboard-posts">
            {{#if posts.length}}
            {{#each posts as |post|}}
            {{> post-info post}}


            <a href="/dashboard/edit/{{post.id}}"><button class="mt-3 btn btn-warning">edit post</button></a>
        </div>
    </div>
    {{/each}}

    {{else}}
    <h6 class="">you do not currently have any posts</h6>

    {{/if}}

</div>