<div class="ms-3">


    <div class="">

        <h2 class="title mt-3">Dashboard: Your posts</h2>
        <a href="/dashboard/create/"><button id="create-post" class="btn btn-success">create post</button></a>
        <hr>
        {{#if posts.length}}
    </div>

    {{#each posts as |post|}}
    {{> post-info post}}

    <a href="/dashboard/edit/{{post.id}}"><button class="btn btn-warning">edit post</button></a>
</div>
{{/each}}

{{else}}
<h6 class="">you do not currently have any posts</h6>

{{/if}}

</div>