
<div class="">
  <header class="">
    
        <div class="column">
            <p class=""></p>
      <a href="/post/{{id}}"  class="">{{title}} </a></p>
      </div>

      <div class="">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="">
        <div class="content has-text-justified">
            {{post_content}}
        </div>
        
    </div>