<div class="mt-4">
  <!-- displaying articles -->
  {{> post-info post}}

  <!-- displaying form and comments-->
  <!-- only display if logged in -->
  {{#if loggedIn}}
  <form class="comment-form mt-3">
    <div>
      <textarea class="comment-body" name="comment-body"></textarea>
    </div>

    <div>
      <button class="button btn btn-success" type="submit">add comment</button>
    </div>

  </form>
  {{/if}}

  <h2 class="mt-3">Comments</h2>

  {{> comments post.comments}}

  {{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  {{/if}}


</div>