main {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-body, nav{
    -webkit-box-shadow: 5px 4px 13px -7px rgba(0,0,0,0.51); 
    box-shadow: 5px 4px 13px -7px rgba(0,0,0,0.51);
}

.nav-item:hover, .nav-item:active {
    text-decoration: underline;
}

.create {
    margin-right: 15px;
}